/* Based on http://paletton.com/#uid=64g0u0kjOggc6p7g6konYcHtd8h */

body {
    color: #3d3547;
}

.navbar-default, footer .footer-above {
    background-color: #273457;
}

footer .footer-below {
    background-color: #08122C;
}

section.success, header, footer {
    background-color: #352859;
    color: rgb(221, 221, 221);
}

hr.star-light {
    border-color: rgb(142, 126, 185);
}

hr.star-light::after {
    content: "\f0b2";
    color:rgb(142, 126, 185);
}

hr.star-primary {
    border-color: #6b5d7d;
}

hr.star-primary::after {
    content: "\f0b2";
    color:#6b5d7d;
}


.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #352859;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: rgb(221, 221, 221);
    text-decoration: none;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: rgb(142, 126, 185);
}

a, a:hover, a:focus, a:active, a.active {
    color: rgb(221, 221, 221);
    text-decoration: underline;
}