{{ "<!-- About Section -->" | safeHTML }}
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ with .Site.Params.about.title }}{{.}}{{ end }}</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h3>{{ with .Site.Params.about.top }}{{ . | markdownify }}{{ end }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p>{{ with .Site.Params.about.left }}{{ . | markdownify }}{{ end }}</p>
                <p>{{ with .Site.Params.about.right }}{{ . | markdownify }}{{ end }}</p>
                <p>{{ with .Site.Params.about.center }}{{ . | markdownify }}{{ end }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <img class="img-responsive" src="img/ChelseaAlex137.jpg" alt="Picture of Alex and his partner Chelsea, with dog Bartleby." />
        </div>
    </div>
</section>
